/*
    Assets:
    font: Roboto
    colors: #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*****************************************************************************
    some default settings
*/
/* remove margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}
/* smooth scrolling, a must-have */
html {
    scroll-behavior: smooth;
}
/* set default font-family, font size foand color the whole body, use a relative unit for font size */
body {
    font-family: "Roboto", sans-serif;
    font-size: 1.1vw;
    color: black;
}
/* default font-size for headline 1 */
h1,
h2 {
    font-size: 3.6em;
    font-weight: 900;
}
/* default font-size for paragraph */
p {
    font-size: 1.1em;
}
/* set dDefault color and no text-decoration for links */
a {
    color: black;
    text-decoration: none;
}

/*****************************************************************************
    header: logo top/left
*/
.logo {
    padding: 2%;
    display: flex;
    color: #0b0c17;
}
.logo a {
    color: #0b0c17;
}
.logo img {
    width: 3%;
}
.logo-text {
    padding-left: 1%;
    font-weight: 900;
}
.logo-text p:first-of-type {
    font-size: 1.6em;
}
.logo-text p:last-of-type {
    font-size: 0.7em;
}

/*****************************************************************************
    Section: how to become a better designer
*/
/*----------------------------------------------------------------------------
    animated graphics top/right 
*/
.cloud {
    position: absolute;
    top: 0;
    right: 0;
    left: 45%;
    text-align: right;
}
.cloud img {
    width: 100%;
}
.cloud .its-me {
    position: absolute;
    top: 0;
    right: 5%;

    /*  start animation */
    animation-name: its-me;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes its-me {
    from {
        transform: rotate(0deg) translateX(5%) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(5%) rotate(-360deg);
    }
}

/*----------------------------------------------------------------------------
    Text block
*/
#better-designer .text-block {
    padding-left: 9%;
    width: 50%;
}
#better-designer h2 {
    padding-top: 30%;
    font-size: 4.6em;
    font-weight: 900;
}
#better-designer h3 {
    padding: 3% 0 20%;
    font-size: 1.5em;
    line-height: 1;
}
/* the rocket */
#better-designer p > img {
    width: 2$;
}
/*----------------------------------------------------------------------------
    Scroll to see more...
*/
#better-designer a {
    color: #ff3571;
    font-size: 0.9em;
    font-weight: 900;
}

/*****************************************************************************
    Section: An image gallery
*/
#gallery img {
    width: 100%;
    padding: 10% 0;
}

/*****************************************************************************
    Section: Every idea starts with a need
*/
#idea-start {
    display: flex;
}
#idea-start h2 {
    padding-left: 12%;
    width: 32%;
}
#idea-start img {
    width: 13%;
}
#idea-start p {
    display: inline-block;
    width: 45%;
    padding-top: 2%;
    line-height: 2;
}

/*****************************************************************************
    Section: After several weeks of sticking to this challenge...
*/
#learning {
    padding: 10% 9% 10% 12%;
}
#learning h2 {
    width: 70%;
    padding-bottom: 10%;
}
#learning > article {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
#learning > article > div {
    display: flex;
    align-items: flex-start;
    width: 43%;
    padding: 2% 0;
}
#learning img {
    padding-right: 4%;
    width: 7%;
}
#learning h4 {
    padding-top: 1%;
    font-size: 1.2em;
    font-weight: 900;
    line-height: 2;
}
#learning p {
    line-height: 2;
}

/*****************************************************************************
    Section: Are you ready? Let’s go!! 
*/
#lets-go {
    text-align: center;
    padding: 10% 0;
}
#lets-go h2 {
    font-size: 4em;
    font-weight: 900;
}
#lets-go > div > p {
    font-size: 1.6em;
    padding: 2% 20% 15%;
    line-height: 1.5;
}
#lets-go article {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 5%;
}
#lets-go article:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
}
#lets-go article > img {
    width: 45%;
}
#lets-go article > div {
    margin-left: 5%;
    width: 45%;
}
#lets-go article h2 {
    font-size: 4.8em;
    font-weight: 700;
    color: #ddd;
    padding-bottom: 10%;
}
#lets-go .number {
    font-size: 4.8em;
    font-weight: 700;
    color: #ddd;
    padding-bottom: 10%;
}

#lets-go article h4 {
    font-size: 1.1em;
    line-height: 4;
    font-weight: 700;
}
#lets-go div > img {
    width: 7%;
    z-index: 2;
}
#lets-go article p {
    /* font-size: 1.1em; */
    line-height: 2;
}

/*****************************************************************************
    Section: Do you like this challenge? Subscribe...
*/
form {
    text-align: center;
    width: 70%;
    margin: 2% auto;
    padding: 4%;
}

/*----------------------------------------------------------------------------
    Form 1 - email-subscribe 
*/
#email-subscribe h2 {
    padding-bottom: 4%;
}
#email-subscribe p {
    font-size: 1.5em;
    font-weight: 400;
}
#email-subscribe input {
    display: block;
    margin: 3% auto;

    font-size: 1.3em;
    font-weight: 400;
    text-align: center;

    border: none;
    outline: none;
    border-radius: 0.3em;
}
#email {
    width: 45%;
    padding: 2% 0;
    box-shadow: 0 0 1em #ddd;
}
#subscribe-button {
    width: 18%;
    padding: 1.5% 0;
    background: #ff3571;
    color: white;
}
#subscribe-button:hover {
    background: linear-gradient(to right, #ff3571, #3c30ff);
}

/*----------------------------------------------------------------------------
    Form 2 - Confirmation
*/
#email-confirm {
    box-shadow: 0 0 1em #ddd;
    border-radius: 1em;
}
#email-confirm div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 48vh;
}
#email-confirm h2 {
    font-size: 2em;
}
#confirm-button {
    align-self: center;
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;

    border: none;
    outline: none;
    border-radius: 0.3em;

    padding: 1.5% 2%;
    background: #3c30ff;
    color: white;
}
#confirm-button:hover {
    background: linear-gradient(to right, #3c30ff, #ff3571);
}

/*****************************************************************************
    Footer
*/
footer {
    display: flex;
    align-items: center;
    padding: 5% 9% 2%;
    letter-spacing: -0.04em;
}
footer p {
    padding-top: 1%;
}
footer img {
    padding: 0 1%;
    width: 3%;
    animation-name: pulsing;
    animation-duration: 0.75s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes pulsing {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.75);
    }
}

/*****************************************************************************
    helper-class for hiding elements, used by JS to hide elements by adding 
    this class and make them visible again by removing the class.
*/
.element-hide {
    display: none;
}
